<% @organizer_recruitments.each do |organizer_recruitment| %>
<div class="list-group">
  <%= link_to organizer_recruitment.title, organizer_recruitment, class: "list-group-item list-group-item-action" %>
</div>
<% end %>
