<% if user_signed_in? %>
    <% if !Like.exists?(user_id: current_user.id, recruitment_id: recruitment.id) %>
      <p><span>お気に入り登録: </span><%=link_to recruitment.likes.count, recruitment_likes_path(recruitment.id), method: :post, remote: true %></p>
    <% else %>
      <p><span>お気に入り解除: </span><%=link_to recruitment.likes.count, recruitment_likes_path(recruitment.id), method: :delete, remote: true %></p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= recruitment.likes.count %></p>
<% end %>
