<% if @error_messages.present? %>
  <div class="alert alert-warning">
    <p><%= @error_messages.errors.count %>件のエラーが発生しました。</p>
    <ul>
      <% @error_messages.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
