<% provide(:title, "応募フォーム") %>
<div class="container main_body">
  <main>
    <div class="row">
      <aside class="col-md-4">
        <h3>応募フォーム</h3>
        <section class="recruitment_form">
          <%= render 'requests_form' %>
        </section>
      </aside>
    </div>
  </main>
</div>
