<h3>バンボ!について</h3>
<p>バンボ！は「より良いライブ、盛り上がりを」をテーマに出演者と主催者が円滑に、ライブ、イベントを行えることを目的としたサービスです。
   出演者と主催者はチャットを通して、コミュニケーションを行え、出演希望、出演者募集を簡単に行えます。随時新しい機能を追加していき、より良いサービスに
   していきますので、まずは下記よりご登録をお願いします。
</p>
<p>
  出演者でのご登録、主催者でのご登録を用意しております。
  ご登録の際はお間違えの無いようご注意ください!
</p>
<div class="col-md-4">
  <%= image_tag("/live_phot_01.jpg", :alt => "ライブ写真02", class: "img-fluid") %>
</div>
