<h3>バンボ!について</h3>
<p>バンボ！は『ライブを簡単にスピーディーに』をコンセプトにしたマッチングサイトです。
   イベント参加者を募集し、参加を簡単に誰でも利用できます。
</p>
<p>
  出演者でのご登録、主催者でのご登録を用意しております。
  ご登録の際はお間違えの無いようご注意ください!
</p>
<div class="col-md-4">
  <%= image_tag("/live_phot_01.jpg", :alt => "ライブ写真02", class: "img-fluid") %>
</div>
