<footer class="py-4 text-light fixed-bottom" style="background-color:#000033;">
  <div class="container text-center">
    <p><small>Copyright &copy;2021 バンボ！, ALL Rights Reserved.</small></p>
  </div>
</footer>
