<aside>
  <div class="d-md-block d-none">
    <div class="card bg-white border-none shadow-sm mb-3">
      <div class="card-header font-weight-bold">
        スポンサードリンク
      </div>
      <div class="card-body text-center">
        <div class="image-box">
          <img src="/noimage.jpg" alt="画像準備中" width="120" height="120">
        </div>
      </div>
    </div>
  </div>
</aside>
